* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }
  
  body {
    position: relative;
    height: 100vh;
    width: 100%;
    background: #ffffff4e;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signup-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
  }
  
  .signup-box {
    background: #ffffff1a;
    backdrop-filter: blur(15px);
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    color: #000000;
    box-shadow: 0 0 25px #00000066;
  }
  
  .logo {
    width: 50px;
    margin-bottom: 20px;
  }
  
  .signup-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border-radius: 8px;
    border: none;
    font-size: 14px;
  }
  
  .password-group {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
  }
  
  button {
    background-color: #f91616c8;
    color: white;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background-color: #f91616c8;
  }
  
  .bottom-text {
    margin-top: 15px;
    font-size: 13px;
    color: #00000076;
  }
  
  .bottom-text a {
    color: #f91616c8;
    text-decoration: none;
  }
  .bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.50;
  }
  .eye-icon:hover,
.toggle-password:hover {
  color: #f91616c8;
  transform: translateY(-50%) scale(1.1);
  transition: all 0.2s ease-in-out;
}

form input:focus {
  outline: 2px solid #f97316;
  background-color: rgba(255, 255, 255, 0.15);
  color: #fff;
}
form input {
  transition: background-color 0.3s, outline 0.3s, color 0.3s;
}
